

body{
    font-family: 'CRYSTALRegular';
    background-color: #0d0d0d;
    color: #bfbfbf;
}

.jumbotron{
    padding-bottom: 1rem;
    background-color: #595959;
}

.crystal{
    border-radius: 8px;
    width: 5rem;
    float: left;
}
.crystalBox{
    float: left;
    text-align: center;
}


#lastScore{
    clear: both;
}

